/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 8, 2022, 7:49:58 PM
    Author     : eddym
*/

.button{
    -fx-background-color: transparent;
}

#openFile {
    -fx-background-image: url("../images/folder.png");
    -fx-background-size:20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-color: transparent;
}

#playButton {
    -fx-background-image: url("../images/play.png");
    -fx-background-size:20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#pauseButton {
    -fx-background-image: url("../images/pause.png");
    -fx-background-size:20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#stopButton {
    -fx-background-image: url("../images/stop.png");
    -fx-background-size:20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#fastForwardButton {
    -fx-background-image: url("../images/fastforward.png");
    -fx-background-size:20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#forwardButton {
    -fx-background-image: url("../images/forward.png");
    -fx-background-size:20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#fastRewindButton {
    -fx-background-image: url("../images/fastrewind.png");
    -fx-background-size:20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#rewindButton {
    -fx-background-image: url("../images/rewind.png");
    -fx-background-size:20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}
